*{text-align: center;
background-color: #fbfff1;}

a{color: #c287e8;
    width: 100px;
    background-color:  rgb(255, 255, 255);
border-radius: 10px;
font-weight: 500;
padding: 20px 100px;
margin: auto;
font-size: 100px;
font-family: 'Raleway', sans-serif;
text-decoration: none;
; 
}

h1{font-family: 'Raleway', sans-serif;}

#cambio-color:hover{
    background-color: #c287e8 ;
    color: #fbfff1;
}