
*{ font-family: 'Raleway', sans-serif;
font-weight: 600;}
h1, h2{
    color: #C287E8;
}

ul#contact {
    list-style: none;
}
section{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
}

ul#menu{
    display: flex;
    list-style: none;
}